<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="app">
    <header class="app-header">
        <div class="app-header-logo">
            <div class="logo">
				<span class="logo-icon">
					<img src="../static/image/watching-a-movie.png"/>
				</span>
                <h1 class="logo-title">
                    <span>FilmFriend</span>
                    <span>for movieGEEks</span>
                </h1>
            </div>
        </div>
    </header>

    <div class="app-body">
        <div class="app-body-navigation">
            <nav class="navigation">
                <a href="#">
                    <i class="ph-browsers"></i>
                    <span>Dashboard</span>
                </a>
            </nav>
            <footer class="footer">
                <h1>FILMFRIEND<small>©</small></h1>
                <div>
                    FILMFRIEND ©<br/>
                    All Rights Reserved 2024
                </div>
            </footer>
        </div>
        <div class="app-body-main-content">
            <section class="service-section">
                <h2>Descriptive</h2>
                <div class="service-section-header">
                    <div class="tiles">
                        <article class="tile">
                            <div class="tile-header">
                                <i class="ph-lightning-light"></i>
                                <h3>
                                    <span>Records User</span>
                                    <span>{{ all_user }}</span>
                                </h3>
                            </div>
                            <div>
                                Number Of Unique:
                                10
                                <br>
                                Mean:
                                20
                                <br>
                                Std:
                                50
                                <br>
                                Min:
                                2
                                <br>
                                Max:
                                200
                            </div>

                            <!--                                <span class="icon-button">-->
                            <!--								<i class="ph-caret-right-bold"></i>-->


                        </article>
                        <article class="tile">
                            <div class="tile-header">
                                <i class="ph-fire-simple-light"></i>
                                <h3>
                                    <span>Records Ratings</span>
                                    <span>{{all_ratings}}</span>
                                </h3>
                            </div>
                            <div>
                                Number Of Unique:
                                10
                                <br>
                                Mean:
                                20
                                <br>
                                Std:
                                50
                                <br>
                                Min:
                                2
                                <br>
                                Max:
                                200
                            </div>

                        </article>
                        <article class="tile">
                            <div class="tile-header">
                                <i class="ph-file-light"></i>
                                <h3>
                                    <span>Records Movies</span>
                                    <span>{{all_movies}}</span>
                                </h3>
                            </div>
                            <div>
                                Number Of Unique:
                                10
                                <br>
                                Mean:
                                20
                                <br>
                                Std:
                                50
                                <br>
                                Min:
                                2
                                <br>
                                Max:
                                200
                            </div>

                        </article>
                        <article class="tile">
                            <div class="tile-header">
                                <i class="ph-file-light"></i>
                                <h3>
                                    <span>Records Tags</span>
                                    <span>{{all_tags}}</span>
                                </h3>
                            </div>
                            <div>
                                Number Of Unique:
                                10
                                <br>
                                Mean:
                                20
                                <br>
                                Std:
                                50
                                <br>
                                Min:
                                2
                                <br>
                                Max:
                                200
                            </div>

                        </article>
                    </div>
            </section>
        </div>
        <!-- partial -->
        <script src='https://unpkg.com/phosphor-icons'></script>
        <script src="../static/js/script.js"></script>

</body>
</html>


<!--                    <div class="search-field">-->
<!--                        <i class="ph-magnifying-glass"></i>-->
<!--                        <input type="text" placeholder="Account number">-->
<!--                    </div>-->
<!--                    <div class="dropdown-field">-->
<!--                        <select>-->
<!--                            <option>Home</option>-->
<!--                            <option>Work</option>-->
<!--                        </select>-->
<!--                        <i class="ph-caret-down"></i>-->
<!--                    </div>-->
<!--                    <button class="flat-button">-->
<!--                        Search-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="mobile-only">-->
<!--                    <button class="flat-button">-->
<!--                        Toggle search-->
<!--                    </button>-->
<!--                </div>-->